<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.traillink.test"><uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/><application android:label="TrailLink verification"/><instrumentation android:name="com.traillink.DeviceTests" android:targetPackage="com.traillink" android:label="TrailLink device verification"/><instrumentation android:name="com.traillink.UpgradeDeviceTests" android:targetPackage="com.traillink" android:label="TrailLink v2 verification"/><instrumentation android:name="com.traillink.V3DeviceTests" android:targetPackage="com.traillink" android:label="TrailLink v3 verification"/> <instrumentation android:name="com.traillink.StockfishDeviceTests" android:targetPackage="com.traillink" android:label="Stockfish verification" />
 <instrumentation android:name="com.traillink.LearningDeviceTests" android:targetPackage="com.traillink" android:label="Learning and review verification" />
 <instrumentation android:name="com.traillink.RiftDeviceTests" android:targetPackage="com.traillink" android:label="Rift Command verification" />
</manifest>
